<header>
    <nav>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'password_generator:index' %}">Password generator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'humans:show_all' %}">Humans</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'sessions_example:index' %}">Session Example</a>
            </li>
        </ul>
    </nav>
    <div class="d-flex justify-content-center align-items-center">
        {% if user.is_authenticated %}
            <div>Hi {{ user.username }}!</div>
            <div><a href="{% url 'logout' %}">Log Out</a></div>
        {% else %}
            <div>
                <a href="{% url 'login' %}">Log In</a>
                <span> or </span>
                <a href="{% url 'users:signup' %}">Sign Up</a>
            </div>
        {% endif %}
    </div>
</header>
<style>
    .nav {
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>